:root {
  --text-main: #173426;
  --text-soft: #4a6458;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  color: var(--text-main);
}

h1,
h2,
h3,
h4 {
  font-family: 'Sora', sans-serif;
}
